.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #9d0f0f;
  font-size: 20px;
}

.headerTitleSm {
  position: absolute;
  top: 14%;
  font-size: 20px;
}

.headerTitleLg {
  position: absolute;
  top: 16%;
  font-size: 100px;
  font-family: "Lora", serif;

  color: #8b9cb9;
}

.headerImg {
  width: 100%;
  height: 500px;
  margin-top: 80px;
  object-fit: fill;
}
